@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Fascinate+Inline&display=swap");
#titulo-shop {
  margin-top: 10%;
}

.conte-sections-shop {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
  margin-top: 30px;
}
.conte-sections-shop .conte-shop {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 20px;
}
.conte-sections-shop .conte-shop .card-shop {
  height: 100%;
  margin: auto;
  background: #ffffff;
}
.conte-sections-shop .conte-shop .card-shop .img-shop {
  position: relative;
  margin: 0px;
}
.conte-sections-shop .conte-shop .card-shop .img-shop img {
  width: 100%;
}

/*seccion shop tablet*/
@media (min-width: 768px) {
  #titulo-shop {
    margin-top: 10%;
  }
  .conte-sections-shop {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    margin-top: 30px;
  }
  .conte-sections-shop .conte-shop {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 20px;
  }
  .conte-sections-shop .conte-shop .card-shop {
    height: 100%;
    margin: auto;
    background: #ffffff;
  }
  .conte-sections-shop .conte-shop .card-shop .img-shop {
    position: relative;
    margin: 0px;
  }
  .conte-sections-shop .conte-shop .card-shop .img-shop img {
    width: 100%;
  }
}
/*seccion shop pc*/
@media (min-width: 1024px) {
  #titulo-shop {
    margin-top: 10%;
  }
  .conte-sections-shop {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    margin-top: 30px;
  }
  .conte-sections-shop .conte-shop {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    -moz-column-gap: 10px;
         column-gap: 10px;
    row-gap: 20px;
  }
  .conte-sections-shop .conte-shop .card-shop {
    height: 100%;
    margin: auto;
    background: #ffffff;
  }
  .conte-sections-shop .conte-shop .card-shop .img-shop {
    position: relative;
    margin: 0px;
  }
  .conte-sections-shop .conte-shop .card-shop .img-shop img {
    width: 100%;
  }
}
footer {
  display: flex;
  margin-top: 50vh;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

.colorNav {
  background-color: rgb(0, 0, 0);
  padding-top: 30px;
  padding-bottom: 30px;
}
.colorNav .navbar-brand {
  margin-left: 15%;
  font-family: "Shrikhand", cursive;
  font-size: xx-large;
}

#navbarNav {
  margin: 10px;
  margin-left: 15%;
}

#textnavHome {
  color: rgb(116, 116, 116);
  font-size: 125%;
}

/*productos destacados*/
h1 {
  text-align: center;
  margin-bottom: 20%;
}

.conte-principal {
  display: flex;
  margin: 10%;
  margin-top: 30px;
}

.conte-productos {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 40px;
}

.product-card .img-product {
  position: relative;
  margin: 0px;
}

.product-card .img-product img {
  width: 100%;
}

.product-card .img-product .whishlist {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  padding: 8px;
  text-align: center;
}

.product-card .info-product {
  padding: 0px 25px;
}

.product-card .info-product .title-product {
  font-size: 18px;
  font-weight: 700;
  color: #131313;
  text-align: center;
  margin-top: 20px;
}

.product-card .info-product .description {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
  color: rgb(177, 177, 177);
}

.product-card .info-product {
  padding: 8px 10px;
  border-radius: 30px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

span .price {
  text-align: center;
}

.btn-cart {
  background: #131313;
  color: #ffffff;
  padding: 10px 0px;
  margin-top: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/*productos destacados tablet*/
@media (min-width: 768px) {
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .conte-principal {
    display: flex;
    margin: 10%;
  }
  .conte-productos {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 50px;
  }
}
/*productos destacados pc*/
@media (min-width: 1024px) {
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  .conte-principal {
    display: flex;
    margin: 10%;
  }
  .conte-productos {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 70px;
  }
}
/*vista mobile */
.conte-section-home {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-top: 30px;
}
.conte-section-home .sectionH-card {
  display: flex;
  justify-content: center;
}

#titulo-Home {
  margin-top: 20vh;
}

/*tablet*/
@media (min-width: 768px) {
  .conte-section-home {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
  }
  .conte-section-home .sectionH-card {
    width: 90%;
    margin-top: 0%;
    margin: 5px;
  }
  .conte-section-home .sectionH-card .imgH {
    position: relative;
    margin: 0px;
  }
  .conte-section-home .sectionH-card .imgH img {
    width: 100%;
  }
}
/*pc*/
@media (min-width: 1024px) {
  .conte-section-home {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
  }
  .conte-section-home .imgH {
    position: relative;
    margin: 0px;
  }
  .conte-section-home .imgH .sectionH-card img {
    width: 100%;
  }
}
.color_winter {
  background-color: black;
}

.portada {
  width: 100vw;
  height: 78vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(../img/portada.gif);
  background-size: cover;
  background-position: center;
}
.portada .text_portada {
  color: #fff;
  text-align: center;
  width: 50%;
  font-family: "DotGothic16", sans-serif;
}
.portada .text_portada h1 {
  font-size: 7vh;
}

.conte_presentacion {
  margin: 10%;
}

.produ_w1 {
  margin: 5%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}
.produ_w1 .imgW1 {
  grid-area: 1/1/2/2;
  position: relative;
  margin: 0px;
}
.produ_w1 .imgW1 img {
  width: 100%;
}
.produ_w1 .textoW1 {
  grid-area: 1/2/2/3;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 12px;
  font-family: "Fascinate Inline", cursive;
}

.produ_w2 {
  margin: 5%;
  margin-top: 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}
.produ_w2 .imgW2 {
  grid-area: 1/2/2/3;
  position: relative;
  margin: 0px;
}
.produ_w2 .imgW2 img {
  width: 100%;
}
.produ_w2 .textoW2 {
  grid-area: 1/1/2/2;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-family: "Fascinate Inline", cursive;
}

/*tablet*/
@media (min-width: 768px) {
  .conte_presentacion {
    margin: 10%;
  }
  .produ_w1 {
    margin: 5%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
  .produ_w1 .imgW1 {
    grid-area: 1/1/2/2;
    position: relative;
    margin: 0px;
    width: 30vw;
    height: 70vh;
  }
  .produ_w1 .imgW1 img {
    width: 100%;
  }
  .produ_w1 .textoW1 {
    grid-area: 1/2/2/3;
    color: #fff;
    text-align: center;
    font-size: large;
  }
  .produ_w2 {
    margin: 5%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
  .produ_w2 .imgW2 {
    grid-area: 1/2/2/3;
    position: relative;
    margin: 0px;
    width: 30vw;
    height: 70vh;
  }
  .produ_w2 .imgW2 img {
    width: 100%;
  }
  .produ_w2 .textoW2 {
    grid-area: 1/1/2/2;
    color: #fff;
    text-align: center;
    font-size: large;
  }
}
/*pc*/
@media (min-width: 1024px) {
  .conte_presentacion {
    margin: 10%;
  }
  .produ_w1 {
    margin: 5%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
  .produ_w1 .imgW1 {
    grid-area: 1/1/2/2;
    position: relative;
    margin: 0px;
    width: 30vw;
    height: 100%;
  }
  .produ_w1 .imgW1 img {
    width: 100%;
  }
  .produ_w1 .textoW1 {
    grid-area: 1/2/2/3;
    color: #fff;
    text-align: center;
    margin-top: 25%;
  }
  .produ_w1 .textoW1 h2 {
    font-size: 8vh;
  }
  .produ_w2 {
    margin: 5%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
  .produ_w2 .imgW2 {
    grid-area: 1/2/2/3;
    position: relative;
    margin: 0px;
    width: 30vw;
    height: 70vh;
  }
  .produ_w2 .imgW2 img {
    width: 100%;
  }
  .produ_w2 .textoW2 {
    grid-area: 1/1/2/2;
    color: #fff;
    text-align: center;
    margin-top: 25%;
  }
  .produ_w2 .textoW2 h2 {
    font-size: 8vh;
  }
}
#color-text {
  color: #fff;
}

#price-color {
  color: #fff;
}

.product-card {
  margin-top: 40%;
}/*# sourceMappingURL=styles.css.map */