
  .conte-ayuda{
    
        
    margin:50px;
    margin-top:20px;
    
}

@media(min-width:768px){
    .conte-ayuda{
    
        
        margin:100px;
        margin-top:50px;
        
}
}


@media (min-width:1024px){

.conte-ayuda{
    
        
        margin:150px;
        margin-top:80px;
        
}
}