
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Fascinate+Inline&family=Oswald:wght@300&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Fascinate+Inline&family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Shrikhand&display=swap');
*{
  margin: 0;
  padding:0; 

}
.pie-winter{
  background-color: #e0e0e0;
  p{
    color: #131313;
  }
}
footer{
    display: flex;
    justify-content: center;
    margin-top:50vh;
    background-color: black;
    p{
      margin-top: 10px;
      color: #e4e4e4;
      font-size: small;
      font-family: 'Roboto Condensed', sans-serif
    }
}

.icono{
  position: fixed;
  width: 80px;
  height: 20px;
  right:2%;
  bottom:10%;
  z-index: 1;
  
 img{
  width: 70%;
  border-radius: 40px;
 }
  
}

.colorNav{
    background-color: rgb(0, 0, 0);
    padding-top:30px;
    padding-bottom:30px ;
    .navbar-brand{
        margin-left:15% ;
        font-family: 'Shrikhand', cursive;
        font-size: xx-large;

    }
}


#navbarNav{
    margin:10px ;
    margin-left:15% ;
}

#textnavHome{

    color: rgb(223, 223, 223);
    font-size:125% ;
    font-family: 'Oswald', sans-serif;
}






/*productos destacados*/
h1{
  text-align:center;
  margin-bottom:20% ;
  font-family: 'Oswald', sans-serif;
}

.conte-principal{
display: flex;
margin: 10%;
margin-top:30px ;
}
.conte-productos{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  column-gap:20px;
  row-gap:40px ;
  
}
 .product-card .img-product{
    position:relative;
    margin:0px;
  }
  .product-card .img-product img{width:100%;}
  .product-card .img-product .whishlist{
    position:absolute;
    bottom:20px;
    right:20px;
    width:40px;
    height:40px;
    padding:8px;
    text-align: center;
  }

  .product-card .info-product{padding:0px 25px;}

  .product-card .info-product .title-product{
      font-size:18px;
      font-weight:700;
      color:#131313;
      text-align: center;
      margin-top:20px;
      font-family: 'Oswald', sans-serif;
  }
  .product-card .info-product .description{
      font-size:15px;
      font-weight:400;
      margin-bottom: 30px;
      color:rgb(177, 177, 177);
      font-family: 'Roboto Condensed', sans-serif
  }
  .product-card .info-product {

      padding:8px 10px;
      border-radius:30px;
      font-weight:400;
      font-size:14px;
      text-align: center;
  }
  span .price{
    text-align: center;
    
  }
  .btn-cart{
    background:#131313;
    color:#ffffff;
    padding:10px 0px;
    margin-top:30px;
    text-decoration:none;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    font-family: 'Roboto Condensed', sans-serif;
  } 
/*productos destacados tablet*/

@media(min-width:768px){
  h1{
    text-align:center;
    margin-bottom:30px ;
  }
  .conte-principal{
    display: flex;
    margin: 10%;
    }
    .conte-productos{
      width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      column-gap:20px;
      row-gap:50px ;
    }
}
/*productos destacados pc*/
@media (min-width:1024px){
  h1{
    text-align:center;
    margin-bottom:10px;
  }
  .conte-principal{
    display: flex;
    margin: 10%;
    margin-top:10px;
    }
    .conte-productos{
      width: 100%;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      column-gap:20px;
      row-gap:70px ;
    }
}
.subrayado2{
  margin-top:20vh  ;
  background-color: black;    
  height: 2px;
  margin-left: 25%;
  margin-right: 25%;
  
}
.subrayado{
  background-color: black;    
  height: 2px;
  margin-left: 25%;
  margin-right: 25%;
  
}