/*vista mobile */
.conte-section-home{
    display: flex;
    height:100%;
    flex-direction: column;
    margin-top:30px ;
   
    
    .sectionH-card{
        display: flex;
        justify-content: center;
        
    }
    
    

       
    
}
/*tablet*/
@media(min-width:768px){
    .conte-section-home{
        display: flex;
        height:100%;
        flex-direction: row;
        justify-content: space-around;
        margin-top:5% ;
        .sectionH-card{
            width:90%;
            
        
        .imgH{
            position:relative;
            margin:0px;
            img{
                width:100%;
            }
    
        }
    }
}
}




#titulo-Home{
    margin-top: 20vh;
}

/*.conte-section-home{
    display: flex;
    height:100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top:30px ;
    .imgH{
        position:relative;
        margin:0px;
        .sectionH-card  img{
            width:100%;
        }

    }
}*/
