/*vista mobile */
#titulo-Home{
    margin-top: 20vh;
}

.conte-section-home{
    display: flex;
    height:100%;
    flex-direction: row;
    justify-content: space-around;
    margin-top:30px ;
    .imgH{
        position:relative;
        margin:0px;
        .sectionH-card  img{
            width:100%;
        }

    }
} 
