/*vista mobile */

.conte-section-home{
    display: flex;
    height:100%;
    flex-direction: column;
    margin-top:5px ;
   
    
    .sectionH-card{
        display: flex;
        justify-content: center;
        
    }
    
}
#titulo-Home{
    margin-top: 0vh;
    margin-bottom: 0vh;
    
}

/*tablet*/
@media(min-width:768px){
    .conte-section-home{
        display: flex;
        height:100%;
        flex-direction: row;
        justify-content: space-around;
        margin-top:10px ;
      
        .sectionH-card{
            width:90%;
            margin-top:0% ;
            margin: 5px; 
        
        .imgH{
            position:relative;
            margin:0px;
            img{
                width:100%;
            }
    
        }
    }
}
}
/*pc*/
@media (min-width:1024px){
    .conte-section-home{
        display: flex;
        width: 100vw;
        height:100%;
        flex-direction: row;
        justify-content: space-around;
        margin-top:30px ;
        
        .imgH{
            position:relative;
            margin:0px;
            
             img{
                width:100vh;
            }
    
        }
    }
}







