  
  
  
  
  
 
 .conte-sections-shop{
     display: flex;
     height:100%;
     flex-direction: row;
     justify-content: space-around;
     margin:10px;
     margin-top:30px ;
     .conte-shop{
         width: 100%;
         margin: auto;
         display: grid;
         grid-template-columns: repeat(2,1fr);
         column-gap:10px;
         row-gap:20px ;
     .card-shop{
         height:100% ;
         margin:auto;
         background:#ffffff;
         .img-shop{
             position:relative;
             margin:0px;
             img{width:100%;
             }
         }
     }
   }
 }
  
  /*seccion shop tablet*/

  @media (min-width:768px){  
    #titulo-shop{
       margin-top:10%;
    }
    
    .conte-sections-shop{
        display: flex;
        height:100%;
        flex-direction: row;
        justify-content: space-around;
        margin:10px;
        margin-top:30px ;
        .conte-shop{
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            column-gap:10px;
            row-gap:20px ;
        .card-shop{
            height:100% ;
            margin:auto;
            background:#ffffff;
            .img-shop{
                position:relative;
                margin:0px;
                img{width:100%;
                }
            }
        }
      }
    }
}
  
/*seccion shop pc*/
@media (min-width:1024px){  
    #titulo-shop{
       margin-top:10%;
    }
    
    .conte-sections-shop{
        display: flex;
        height:100%;
        flex-direction: row;
        justify-content: space-around;
        margin:10px;
        margin-top:30px ;
        .conte-shop{
            width: 100%;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(6,1fr);
            column-gap:10px;
            row-gap:20px ;
        .card-shop{
            height:100% ;
            margin:auto;
            background:#ffffff;
            .img-shop{
                position:relative;
                margin:0px;
                img{width:100%;
                }
            }
        }
      }
    }
}  